<!DOCTYPE html>
<html>

<head>
  <title>epicure</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Radley&display=swap" rel="stylesheet">
</head>

<body>