<!DOCTYPE html>
<html>
  <head>
    <title>EPICURE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>EPICURE</h1>
    <nav>
      <% if (user) { %>
        <a href="/posts/new"	<%- title === 'Add Content' ? 'class="active"' : '' %>>
        ADD POST</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>