<%- include('../partials/header') %>
<nav>
  <% if (user) { %>
  <a href="/logout" class="logout">LOG OUT</a>
  <% } else { %>
  <a href="/auth/google" class="login"
    >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
  /></a>
  <% } %> &nbsp;
  <a id="go-back" href="/posts">Go Back</a>
</nav>
<main>
  <h1>epicure</h1>
  <div class="form-container">
    <form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
      <input type="text" name="content" value="<%= comment.content %>" />
      <button id="update-btn" type="submit" id="cm-submit-btn">
        Update Comment
      </button>
    </form>
  </div>
</main>
<%- include('../partials/footer') %>
