<%- include('./partials/header') %>
<div class="img-container">
    <img src="images/avo-toast.jpg" id="img-1" alt="avo-toast photo">
    <img src="images/fish.jpg" id="img-2" alt="fish photo">
    <img src="images/french-toast.jpg" id="img-3" alt="french-toast photo">
    <img src="images/icecream.jpg" id="img-4" alt="icecream photo">
    <img src="images/pancakes.jpg" id="img-5" alt="pancakes photo">
    <img src="images/salad.jpg" id="img-6" alt="salad photo">
    <img src="images/salmon.jpg" id="img-7" alt="salmon photo">
    <img src="images/skewers.jpg" id="img-8" alt="skewers photo">
</div>

<%- include('./partials/footer') %>