 * {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Pathway Extreme', sans-serif;
  background-image: url('/images/all-posts-bkgrd.jpeg');
  background-color: #ffbb01;
}

nav {
  margin-left: 5vmin;
  margin-top: 2.5vmin;
}

.login > img {
  height: 3vmin;
}

.login {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  height: 4vmin;
}

.login .logout .add-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 7.5vmin;
  align-self: center;
}

.profile-container {
  margin-left: 4vmin;
}

.add-content {
  font-size: 3vmin;
  align-self: center;
  text-decoration: none;
  background-color: #b2906f;
  color: white;
  padding: 1vmin 2vmin;
  border-radius: 1vmin;
}

a, h1, h2, h3, h4, h5, p, label {
  color: #5f5d58;
}

li {
  list-style-type: circle;
  list-style-position:initial;
}

#posts-home {
  display: flex;
}

.posts-container {
  margin: 4vmin;
  padding: 1vmin;
  width: 60%;
  height: auto;
  background-color: #f9f0b5;
  border-radius: 1vmin;
  align-self: center;
}

.wishlist {
  margin: 4vmin;
  padding: 1vmin;
  width: 30%;
  height: auto;
  background-color: #febc8e;
  border-radius: 1vmin;
}

.post-container {
  margin: 1vmin 4vmin 1vmin 4vmin;
  padding: 2vmin;
  width: 50%;
  height: auto;
  background-color: #f9f0b5;
  border-radius: 2vmin;
  align-self: center;
}

#details-btn, #wishlist-btn {
  text-decoration: none;
}

#edit-btn, #update-btn, #delete-btn, #comment-btn, #cm-edit-btn, #cm-submit-btn, #cm-delete-btn {
  font-family: 'Pathway Extreme', sans-serif;
  background-color: #b2906f;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

#avatar {
  border-radius: 50%;
  height: 4vmin;
}

/* Photo Gallery */

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vmin;
}

#img-1 {
  transform: rotate(5deg);
}

#img-2 {
  transform: rotate(-1deg);
}

#img-3 {
  transform: rotate(-6deg);
}

#img-4 {
  transform: rotate(-2deg);
}

#img-5 {
  transform: rotate(-3deg);
}

#img-6 {
  transform: rotate(3deg);
}

#img-7 {
  transform: rotate(1deg);
}

#img-8 {
  transform: rotate(-4deg);
}

/* Form */

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #b2906f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #c8a397;
}

.form-container {
  margin-top: 2vmin;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* @media (min-width: 600px) {
  body {
    padding: 10vmin;
    font-family: 'Pathway Extreme', sans-serif;
    background-color: rgb(247, 212, 127);
  }
  
  a, h1, h2, h3, h4, p {
    color: #5f5d58;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }
} */