* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: FuturaPT, helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 2vmin;
  background-color: #F8DA7D;
}

.nav-items {
  margin: 2vmin, 0, 0, 2vmin;
}

.login > img {
  height: 3vmin;
}

.login, .logout {
  font-size: 2rem;
  display: flex;
  align-items: center;
  height: 4vmin;
  padding: 1vmin;
}

a {
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Radley", serif;
  font-size: 6vmin;
  text-align: center;
  margin: 1vmin;
}

.welcome-msg {
  font-family: "Radley", serif;
  font-weight: normal;
  font-size: 4vmin;
  text-align: center;
  margin: 3vmin;
}

/* photo gallery */

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5vmin;
  margin-top: 1vmin;
}

#img-1 {
  transform: rotate(5deg);
}

#img-2 {
  transform: rotate(-1deg);
}

#img-3 {
  transform: rotate(-6deg);
}

#img-4 {
  transform: rotate(-2deg);
}

#img-5 {
  transform: rotate(-3deg);
}

#img-6 {
  transform: rotate(3deg);
}

#img-7 {
  transform: rotate(1deg);
}

#img-8 {
  transform: rotate(-4deg);
}

main {
  display: flex;
  flex-direction: column;
}

.add-content {
  font-size: 3vmin;
  align-self: center;
  text-decoration: none;
  background-color: #b2906f;
  color: #5f5d58;
  margin-top: 1.5vmin;
  padding: 1vmin 2vmin;
  border-radius: 1vmin;
}

a,
h1,
h2,
h3,
h4,
h5,
p,
label,
th,
td {
  color: #5f5d58;
}

h2,
h3,
h4,
h5,
p {
  font-family: "Indie Flower", cursive;
}

/* posts homepage */

.wrapper {
  margin: 5vmin;
  display: flex;
}

.posts-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  flex-wrap: wrap;
  margin-right: 0.5vmin;
}

.card {
  margin: 0.5vmin;
  padding: 1vmin;
  width: auto;
  background-color: #f9f0b5;
  border-radius: 1vmin;
}

.post-photo {
  width: 35%;
}

.username {
  font-family: "Permanent Marker", cursive;
}

.wishlist {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.wishlist-post {
  text-align: center;
  align-items: center;
  background-color: #30bfbf;
  border-radius: 1vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
}

#wishlist-txt {
  font-family: "Permanent Marker", cursive;
  text-align: center;
}

#details-btn,
#wishlist-btn {
  text-decoration: none;
}

/* post details page */

.post-container {
  margin: 1vmin 4vmin 1vmin 4vmin;
  padding: 2vmin;
  width: 50%;
  height: auto;
  background-color: #f9f0b5;
  border-radius: 2vmin;
  align-self: center;
}

#edit-btn,
#update-btn,
#delete-btn,
#comment-btn,
#cm-edit-btn,
#cm-submit-btn,
#cm-delete-btn {
  font-family: "Pathway Extreme", sans-serif;
  font-weight: bold;
  background-color: #b2906f;
  color: #5f5d58;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

#avatar {
  border-radius: 50%;
  height: 4vmin;
}

/* form */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vmin;
}

#new-form {
  padding: 1vmin;
  background-color: #f9f0b5;
  border-radius: 1vmin;
  width: 40%;
}

Form input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #b2906f;
  color: #5f5d58;
  margin: 0.5vmin;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #c8a397;
}

@media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* edit form page */

#edit-form {
  padding: 1vmin;
  background-color: #f9f0b5;
  border-radius: 1vmin;
  width: 40%;
}
