<%- include('../partials/header') %>

<div class="form-container">
<form id="new-form" action="/posts" method="POST">
  <label>Title:</label>
  <input type="text" name="title" placeholder="Give a title..." required>
  <label>Brief description:</label>
  <input type="text" name="description" placeholder="Brief description..." required>
  <label>Upload restaurant link here:</label>
  <input type="text" name="link" placeholder="Add a link...">
  <label>Blog it:</label>
  <textarea type="text" name="content" placeholder="Write something..."></textarea>
  <input type="submit" value="Add Content">
</form>
</div>

<p>
  <%= errorMsg %>
</p>

<%- include('../partials/footer') %>